/*设计与浏览页都引用其*/
.onlyresize, .candrag, .onlydrag, .dragy {display:inline-block;}
.btn_icon_circular {color: #fff;text-align:center;height:60px;width:60px;padding-top:10px; display:inline-block; border-radius: 50%; font-size: 3em;}
/*遮罩,用于文本框与地图等*/
.comp_mask {width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:100;}
/*图片组件*/
.gallery_group .list_item {display:inline-block;padding:2px;cursor:pointer;}
.gallery_group .list_item_img {width:100%;}
.gallery_group .list_item_div {position: relative;overflow: hidden;text-align: center;}
.gallery_group .list_item_text {transition: all linear 0.5s;position: absolute;text-align: center;line-height: 25px;width: 100%;opacity: 0.6;background: black;color: white;bottom:0;padding:5px;}
/*文章列表*/
.list_s1 {}/*带缩略图*/
.list_s1 .list_item {position:relative;padding:3px;padding-bottom:10px;min-height:110px; border-bottom:1px dashed #ddd;}
.list_s1 .list_item .pic_a {position:absolute; width:100px;height:100px;}
.list_s1 .list_item .pic_a img {max-width:100px;max-height:100px;}
.list_s1 .list_item_head {margin-left:105px;padding-left:5px;}
.list_s1 .list_item .head_title {float:left; font-weight:bold;}
.list_s1 .list_item .head_date {float:right;margin-right:5px;}
.list_s1 .list_item .desc_div {margin-left:105px;color:#797979;}
/*猎豹*/
.list_s2 .list_item {position:relative;padding:3px;margin-bottom:30px;margin-left:10px;}
.list_s2 .title {color:#ff6900;font-size:20px;word-wrap:break-word;font-weight:normal;font-style:normal;}
.list_s2 .item_img {position:absolute; left:0;overflow:hidden;cursor:pointer;width:300px;height:160px;}
.list_s2 .item_img a {text-decoration:none;margin:0px;padding:0px;}
.list_s2 .item_img img {position:absolute;top:0;left:0;width:300px;height:160px;}
.list_s2 .item_info {margin-left:334px;border:none;}
.list_s2 .item_info .info_title { height:24px;line-height:24px;font-size:18px;overflow:hidden;word-wrap:break-word;margin-bottom:5px;cursor:pointer;}
.list_s2 .item_info .info_title:hover {color:#ff6900;}
.list_s2 .item_info .time_share {display:block;height:32px;height:32px;color:#666;}
.list_s2 .item_info .time {padding-right:30px;display:inline-block;font-size:10px;}
.list_s2 .item_info .item_content {height:66px;width:800px; line-height:22px;overflow:hidden;text-overflow:ellipsis; color:#666;font-size:10px;}
.list_s2 .item_info .detail_a {width:107px;height:35px;line-height:34px;position:absolute;right:0px;text-align:center;overflow:hidden;color:#ff6900;text-decoration:none;border:1px solid #ff6900;border-radius:15px;}
.list_s2 .item_info .detail_a:hover {background-color:#ff6900;color:#fff;}
/*文章内容*/
.content_s1 .con_title {text-align:center;font-size:20px;font-weight:bold;padding-bottom:10px;border-bottom:1px solid #ddd;}
.content_s1 .con_date {text-align:center;color:#797979;}
.content_s1 .con_content {padding:5px;}
/*div*/
.footer_s1 {height:160px;text-align:center;overflow:hidden;}
.footer_s1 .footer_sp {display:block;height:40px;line-height:40px; color:#c0c0c0;text-align:center;}
.footer_s1 .share {padding-top:20px;margin-bottom:28px;}
.footer_s1 .share a {color:#c0c0c0;font-size:40px;margin-right:10px;}
.footer_s1 .share a:hover {color:#ff6900;}
.footer_s1 .bar_link a {display:inline-block;padding:0 10px;color:#c0c0c0;text-decoration:none;}
.footer_s1 .copy em {display:block;height:22px;line-height:22px;color:#6d6d6d;font-weight:normal;font-style:normal;}
/*手机组件*/
.mb_basic_cube {background: #fff;}
.mb_basic_cube .list_item {width: 33%; padding: 0; height: 5.2rem; color: #fff; float: left; text-align: center;margin-bottom:30px;}
.mb_basic_cube .list_item_a {color: #fff;  border-radius: 50%; padding:15px 10px;width:50px;height:50px; display:inline-block;}
.mb_basic_twocolumn .list_item {width:50%;text-align:center;height:100px;color:#fff;text-decoration:none;display:inline-block;padding-top:30px;}
.mb_basic_twocolumn .list_item_icon {font-size:1.8em;margin-right:10px;}
/*悬停图片放大*/
.ani_imgstyle img{ display: block; animation-name: imgsacle; -webkit-animation: imgsacle 0.4s linear 0s normal none; -moz-animation: imgsacle 0.4s linear 0s normal none; animation: imgsacle 0.4s linear 0s normal none; -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; animation-fill-mode: forwards; }
@-webkit-keyframes imgsacle { from { -webkit-transform:scale(1,1); } to { -webkit-transform:scale(1.2,1.2); } }
@-moz-keyframes imgsacle { from { -moz-transform:scale(1,1); } to { -moz-transform:scale(1.2,1.2); } }
@keyframes imgsacle { from { transform:scale(1,1); } to { transform:scale(1.2,1.2); } }

/*标识*/
@font-face {
    font-family: "ZoomlaICO";
    src: url("/dist/fonts/ZoomlaICO.eot"); /* IE9 */
    src: url("/dist/fonts/ZoomlaICO.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */    
    url("/dist/fonts/ZoomlaICO.woff") format("woff"), /* chrome、firefox */
    url("/dist/fonts/ZoomlaICO.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("/dist/fonts/ZoomlaICO.svg#ZoomlaICO") format("svg"); /* iOS 4.1- */
    font-style: normal;font-weight: normal;
}
.zlogo1,.zlogo2{ float:left;font-family: "ZoomlaICO"  !important;cursor:pointer; }
.ZoomlaICObagua:before{ font-family:'ZoomlaICO';content: "\51F6";  }/*八卦图形*/
.ZoomlaICO2015:before{ font-family:'ZoomlaICO';content: "\51F7";  }/*大写Z字形*/
.SiisoftICO2016:before{ font-family:'ZoomlaICO';content: "\51F8";  }/*SiifotLogo*/
#PowerZoomlaT {position: absolute; z-index:500; top:0; right:0;  }
#PowerZoomlaT span { display:block;top:0; right:0; width: 0;height: 0;border-top: 100px solid red; border-left: 100px solid transparent;  }
#PowerZoomlaT i{position: absolute; z-index:500;top:0; right:0; font-size:68px; line-height:90%;}
#PowerZoomlaT a{color:#fff;}
/*互动组件*/
.pub_text, .pub_textarea {padding:8px;}
.pub {border:none;}
/*手机下场景组件UI*/
.scence .bgm-btn{ position:absolute; top: 30px; right:50px; width: 60px; height: 60px; background-size: 100%; background-image: url("/design/h5/images/music.png"); z-index: 2;cursor:pointer; -webkit-animation: myrotate 5s linear 0s infinite normal;}
.scence .bgm-btn.pause{ background-position: 0px -60px; -webkit-animation: none;}
.scence .swiper-slide {overflow:hidden;}

@-webkit-keyframes myrotate /*Safari and Chrome*/{0%{-webkit-transform:rotate(0deg);}
25%{-webkit-transform:rotate(-90deg);}
50%{-webkit-transform:rotate(-180deg);}
75%{-webkit-transform:rotate(-270deg);}
100%{-webkit-transform:rotate(-360deg);}}
@-webkit-keyframes start{0%,30%{opacity: 0;-webkit-transform: translate(0,10px);}60%{opacity: 1;-webkit-transform: translate(0,0);}100%{opacity: 0;-webkit-transform: translate(0,-8px);}}
@-moz-keyframes start{0%,30%{opacity: 0;-moz-transform: translate(0,10px);}60%{opacity: 1;-moz-transform: translate(0,0);}100%{opacity: 0;-moz-transform: translate(0,-8px);}}
@keyframes start{0%,30%{opacity: 0;transform: translate(0,10px);}60%{opacity: 1;transform: translate(0,0);}100%{opacity: 0;transform: translate(0,-8px);}}