<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{ZL.Label id="当前栏目名"/}>>{$SiteName/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='/Skin/DefaultSkin.css' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="rightfont">注册会员&nbsp;&nbsp;会员登入&nbsp;&nbsp;忘记密码&nbsp;&nbsp;全站检索&nbsp;&nbsp;服务支持</div>
<!--主体开始-->
<div class="mainbox">
<div class="header">
<div class="logo"><a href="/"><img src="images/logo.gif" alt="逐浪首页" /></a></div>
</div>
<div class="menu">
	<div id="tabs6">
	  <ul>
		<li id="tabmenu01"><a href="/" title=""><span>首页</span></a></li>
		<li id="tabmenu02"><a href="/ColumnList.aspx?NodeID=9" title=""><span>走进逐浪</span></a></li>
		<li id="tabmenu03"><a href="#" title="免费下载逐浪程序使用"><span>程序发布</span></a></li>
		<li id="tabmenu04"><a href="#" title=""><span>客户案例</span></a></li>
		<li id="tabmenu05"><a href="#" title="获取更高性能与更优服务"><span>增值服务</span></a></li>
		<li id="tabmenu06"><a href="#" title=""><span>帮助中心</span></a></li>
		<li id="tabmenu07"><a href="http://bbs.zoomla.cn" title="" target="_blank"><span>技术社区</span></a></li>
		<li id="tabmenu08"><a href="#" title=""><span>联系我们</span></a></li>
	  </ul>
	</div>
<div style="clear:both"></div>
	<h1></h1>
<div style="clear:both"></div>
</div>
<style>
#tabmenu01 a { background-position:0% -42px; }
#tabmenu01 a span { background-position:100% -42px; color:#222; }
</style>
<div style="clear:both"></div>

<!--右侧开始-->
<div class="left">
<div><div style="float:left;width:60px;">最新公告：</div><div style="float:right;width:440px;height=20px;"><MARQUEE onmouseover=this.stop() onmouseout=this.start() scrollAmount=1 scrollDelay=4 width=430 align="left">&nbsp;&nbsp;&nbsp;&nbsp;<a class="AnnounceBody2" href="#" onclick="javascript:window.open('/Announce.asp?ChannelID=0&ID=1', 'newwindow', 'height=440, width=400, toolbar=no, menubar=no, scrollbars=auto, resizable=no, location=no, status=no')" title="逐浪软件即将全面上线，欢迎大家进入逐浪论坛bbs.zoomla.cn交流，我们将提供最好的网站管理系统与系列软件服">逐浪软件即将全面上线，欢迎大家进入逐浪论坛bbs.zoomla.cn交流&nbsp;&nbsp;[admin&nbsp;&nbsp;2008年1月19日]</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</MARQUEE></div></div>
<div><a href="http://bbs.zoomla.cn" target="_blank"><img src="skin/z/banner.gif" /></a></div>
    <!--滚动右列代码开始-->
	<div>
      <dl>

        <dt class="F">
          <div class="F_side_r">
<!--展示1-->         
            <div id="content_10">
              <div class="A_R">
                <dl>
                  <dt>逐浪!-CMS系统</dt>
                  <dd>
                    <div class="leftms"><div style="width:60px;float:left;margin-top:5px;"><a class="blue_a" href="#" title="逐浪CMS" target="_blank"><img src="/Skin/z/c1.jpg" border="0" /></a></div>　　逐浪CMS系统是基于dotNET2.0开发的大型网站管理系统，是业内首个全面支持W3C标准的中文系统，网站以追求卓越的性能为出发点，网站动力就在Zoomla!<br />
                     　<a class="blue_a" href="#" title="查阅产品详情" target="_blank">下载最新程序</a>　|　<a class="red_a" href="#" title="进一步了解逐浪软件" target="_blank">了解逐浪</a><br />
                    </div>
					
                  </dd>
                </dl>
              </div>
			    
            </div>
<!--展示2-->
           <div id="content_11" style="display:none;">
              <div class="A_R">
                <dl>
                  <dt>逐浪OA办公系统</dt>
                  <dd>
                    <div class="leftms"><div style="width:60px;float:left;margin-top:5px;"><a class="blue_a" href="#" title="逐浪OA" target="_blank"><img src="/Skin/z/c1.jpg" border="0" /></a></div>逐浪团队集三年精力开发的专业OA系统，彻底取代传统OA的繁锁与不足，专业实施解决方案，为企业注入核心竞力...<br />
					<a class="red_a" href="#" title="了解详情" target="_blank">了解软件</a>　|　<a class="blue_a" href="#" title="查阅官方发布公告" target="_blank">官方发布公告</a></div>
                  </dd>
                </dl>
              </div>
            </div>
<!--展示3-->
           <div id="content_12" style="display:none;">
              <div class="A_R">
                <dl>

                  <dt>逐浪人才网站系统</dt>
                  <dd>

                    <div class="leftms"><div style="width:60px;float:left;margin-top:5px;"><a class="blue_a" href="#" title="图片说明" target="_blank"><img src="/Skin/z/c1.jpg" border="0" /></a></div>专业的HR人力资源门户解决方案，面向人才网站与企业人力资源规则提供的解决方案，逐浪人才网站系统尽心做到“可靠、专业、高效”。 
                     <br />　<a class="red_a" href="#" title="查阅产品发布页" target="_blank">产品发布页</a>　|　<a class="blue_a" href="#" title="了解详情" target="_blank">了解更多</a></div>
                  </dd>
                </dl>
              </div>

            </div>
<!--展示4-->
            <div id="content_13" style="display:none;">
              <div class="A_R">
                <dl>

                  <dt>逐浪表单调查系统</dt>
                  <dd>

                    <div class="leftms"><div style="width:60px;float:left;margin-top:5px;"><a class="blue_a" href="#" title="图片说明" target="_blank"><img src="/Skin/z/c1.jpg" border="0" /></a></div>　　<a href="#" target="_blank" title="#">逐浪OA办公系统</a>是逐浪科技权威产品，以专业开发之资质，服务于用户，提供优质软件精神。<br />　
                      <a class="blue_a" href="#" target="_blank" title="查阅官方最新免费培训课程">系统性能</a>　|　<a class="red_a" href="#" target="_blank" title="下载试用">试用下载</a>　|　<a class="green_a" href="#" target="_blank" title="查看用户评价">用户评价</a> </div>
                  </dd>
                </dl>
              </div>
            </div>
<!--展示5-->
            <div id="content_14" style="display:none;">
              <div class="A_R">
                <dl>

                  <dt>逐浪E-CMS网站系统</dt>
                  <dd>
                    <div class="leftms"><div style="width:60px;float:left;margin-top:5px;"><a class="blue_a" href="#" title="图片说明" target="_blank"><img src="/Skin/z/c1.jpg" border="0" /></a></div>　　<a href="#" target="_blank">对网站管理系统的全新定义，为中国站长带来福音！<br />　
                      <a class="red_a" href="#" target="_blank">服务详情</a>　|　<a class="blue_a" href="#" target="_blank">软件清单</a> </div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
<!-- -->
          <div class="F_side_l">
            <ul>
              <li id="menu_10" onmouseover="setTimeout('Show_Menu(1,0)',200);" class="Side_on">逐浪!-CMS系统</li>
              <li id="menu_11" onmouseover="setTimeout('Show_Menu(1,1)',200);">逐浪OA办公系统</li>
              <li id="menu_12" onmouseover="setTimeout('Show_Menu(1,2)',200);">逐浪人才网站系统</li>
              <li id="menu_13" onmouseover="setTimeout('Show_Menu(1,3)',200);">逐浪表单调查系统</li>
              <li id="menu_14" onmouseover="setTimeout('Show_Menu(1,4)',200);">逐浪考试投稿系统</li>
            </ul>
            <script language="JavaScript" type="text/javascript">
//<![CDATA[
function Show_Menu(id_num,num){
for(var i=0;i<5;i++){document.getElementById("content_"+id_num+i).style.display="none";}
for(var i=0;i<5;i++){document.getElementById("menu_"+id_num+i).className="";}
document.getElementById("menu_"+id_num+num).className="Side_on";
document.getElementById("content_"+id_num+num).style.display="block";
}
//]]>
</script>
          </div>
        </dt>
      </dl>
	  </div>
    <!--滚动右列代码结束-->

</div>
<!--右侧结束-->

<div class="right">
<div style="background-image: url(/skin/z/too_cool_large.gif);width:160px;height:160px;text-align: center;line-height:160px"><a href="http://bbs.zoomla.cn/dispbbs.asp?boardID=7&ID=61&page=1" target="_blank" title="点击下载">最新版本：BETA1</a></div>

<div>逐浪表单王管理系统集成自主专利技术解决方案，可自由调用,无限制多级表单生成,自由页面调用,灵活风格标签,完全免费开放、自由应用随心所欲,兼容未来的逐浪Zoomla!CMS管理系统以及其它同族产品,是您网站应用的最佳首选！<a href="http://bbs.zoomla.cn/dispbbs.asp?boardID=7&ID=61&page=1" target="_blank" title="点击下载">点击查看详情>></a>
</div>
</div>
<div class="rightfont">版权所有:&copy;2008逐浪软件zoomla.cn  空间供应商：<a href="http://www.hx008.cn" target="_blank">华夏互联hx008.cn</a><br />
联系我们&nbsp;&nbsp;|&nbsp;&nbsp;公司证件&nbsp;&nbsp;|&nbsp;&nbsp;汇款方式&nbsp;&nbsp;|&nbsp;&nbsp;使用条款&nbsp;&nbsp;| 商标&nbsp;&nbsp;|&nbsp;&nbsp;隐私声明</div>
</div>
<!--主体结束-->

</body>
</html>