<?xml version="1.0"?>
<WaterModuleConfig>
  <WaterConfig>
    <IsUsed>true</IsUsed>
    <imageWidth>0</imageWidth>
    <imageHeigh>0</imageHeigh>
    <WaterClassType>3</WaterClassType>
    <WaterClass>1</WaterClass>
    <imgLogo>/UploadFiles/timg.jpg</imgLogo>
    <imgAlph>40</imgAlph>
    <WaterWord>逐浪软件</WaterWord>
    <WaterWordType>黑体</WaterWordType>
    <WaterWordStyle>3</WaterWordStyle>
    <WaterWordSize>20</WaterWordSize>
    <WaterWordColor>#00FF33</WaterWordColor>
    <WaterWordAlph>11</WaterWordAlph>
    <lopostion>9</lopostion>
    <loX>200</loX>
    <loY>200</loY>
    <WaterImgs>[]</WaterImgs>
  </WaterConfig>
</WaterModuleConfig>