@{
    Layout = "~/Areas/Mis/Views/Shared/_layout.cshtml";
}
@section head{
<title>审批</title>
}
@section content{
<div class="left_ico"><img src="/App_Themes/UserThem/images/Mis/jian.jpg" /></div>
<div class="left_Pro">
<a href="javascript:void(0)" onclick="Prolist('@Request["ID"] %>','4')">审批</a>
</div>
<div class="Right_Pro"> 
    <table> 
    </table>
</div>
}