<div id="qtype_wrap">
    <ul id="qtype_ul">
        <li ng-click="tonew('radio','')">
            <div class="wrap">
                <div style="background-color:#6083C7;"><i class="fa fa-check-circle-o"></i></div>
                <span>单选</span>
            </div>
        </li>
        <li ng-click="tonew('checkbox','')">
            <div class="wrap">
                <div style="background-color:#53CEE0;"><i class="fa fa-check-square-o"></i></div>
                <span>多选</span>
            </div>
        </li>
        <li ng-click="tonew('blank','')">
            <div class="wrap">
                <div style="background-color: #80B660;"><i class="fa fa-indent"></i></div>
                <span>填空</span>
            </div>
        </li>
        <li ng-click="tonew('score','')">
            <div class="wrap">
                <div style="background-color: #EFB93D;"><i class="fa fa-star"></i></div>
                <span>打分</span>
            </div>
        </li>
        <li ng-click="tonew('checkbox','')">
            <div class="wrap">
                <div style="background-color: #EEB54E;"><i class="fa fa-list-ul"></i></div>
                <span>排序</span>
            </div>
        </li>
        <li ng-click="tonew('radio','sex')">
            <div class="wrap">
                <div style="background-color: #EF4E3A;"><i class="fa fa-venus-mars"></i></div>
                <span>性别</span>
            </div>
        </li>
        <li ng-click="tonew('blank','mobile')">
            <div class="wrap">
                <div style="background-color: #65CD30;"><i class="fa fa-mobile"></i></div>
                <span>手机</span>
            </div>
        </li>
        <li ng-click="tonew('blank','email')">
            <div class="wrap">
                <div style="background-color: #886EE9;"><i class="fa fa-envelope"></i></div>
                <span>邮箱</span>
            </div>
        </li>
        <li ng-click="tonew('blank','area')">
            <div class="wrap">
                <div style="background-color: #BBDCA7;"><i class="fa fa-home"></i></div>
                <span>地区</span>
            </div>
        </li>
        <li ng-click="tonew('blank','date')">
            <div class="wrap">
                <div style="background-color: #8674CA;"><i class="fa fa-calendar"></i></div>
                <span>日期</span>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
    <!--<div style="background-color:#fff;width:100%;height:60px;padding-top:5px; margin-top:60px;text-align:center;">
        <a href="javascript:;" style="border-radius:50%;width:50px;height:50px;border:1px solid #ddd;display:inline-block;padding-top:10px;color:#ddd;"><i class="fa fa-remove fa-2x"></i></a>
    </div>-->
</div>