<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content={$MetaKeywords/}" />
<meta name="description" content="{$MetaDescription/}" />
<title>{$SiteName/}-{ZL.Label id="当前栏目名"/}</title>
<link rel="stylesheet" type="text/css" id="css" href="/skin/default.css" />
</head>
<body>

<table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><a href="/"><img src="{$LogoUrl/}" width="260" height="80" border="0" /></a></td>
    <td><img src="{$Banner/}" width="430" height="70" border="0" /></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="28" bgcolor="#006DB2">
  <tr>
    <td align="center" style="color:#FFFF00" >{ZL.Label id="顶部导航"/} </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
    </td>
  </tr>
</table>

<table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="230" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bgliter">
      <tr>
        <td class="lite">用户登陆</td>
      </tr>
      <tr>
        <td><p>放入用户登陆的代码，需要有认证码。</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p></td>
      </tr>
      <tr>
        <td class="lite">产品搜索</td>
      </tr>
      <tr>
        <td><p>大类<br />
        小类<br />
        名称<br />
        搜索框</p>
          <p>&nbsp;</p>
          <p><br />
          </p></td>
      </tr>
      <tr>
        <td class="lite">产品分类</td>
      </tr>
      <tr>
        <td>
        <!--产品分类开始-->
              <SCRIPT type=text/JavaScript>
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</SCRIPT>
              <TABLE width="100%">
        <TBODY>
        <TR style="CURSOR: hand" onClick="javascript:Deal('menu163')" 
        bgColor=#f1f1f1>
          <TD><A 
            onmouseover="MM_swapImage('Image20','','/skin/hx008/menu.jpg',1)" 
            onmouseout=MM_swapImgRestore()><IMG id=Image20 border=0 name=Image20 
            src="/skin/hx008/menu.jpg" width=217 height=64></A></TD></TR>
        <TR style="DISPLAY: none" id=menu163>
          <TD>
            <TABLE width="100%">
              <TBODY>
              <TR>
                <TD>
                  <TABLE border=0 cellSpacing=1 cellPadding=0 bgColor=#efefef>
                    <TBODY>
                    <TR>
                      <TD bgColor=#ffffff><IMG id=index5_r28_c4 border=0 
                        name=index5_r28_c4 alt="" 
                        src="/skin/hx008/index5_r4_c4.jpg" width=11 
                        height=11></TD></TR></TBODY></TABLE></TD>
                <TD style="CURSOR: hand" 
                  onclick="javascript:Deal('menu165')">一级分类</TD>
                <TD><IMG id=index5_r12_c15 border=0 name=index5_r12_c15 alt="" 
                  src="/skin/hx008/index5_r12_c15.jpg" width=9 
                height=9></TD></TR>
              <TR style="DISPLAY: none" id=menu165>
                <TD colSpan=3>
                  <TABLE width="100%">
                    <TBODY>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 name=index5_r17_c3 alt="" 
                        src="/skin/hx008/index5_r17_c3.jpg" width=7 
                        height=7></TD>
                      <TD><A href="#">二级分类1</A></TD>
                    </TR>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 
                        name=index5_r17_c3 alt="" src="/skin/hx008/index5_r17_c3.jpg" width=7 height=7></TD>
                      <TD><A href="#">二级分类2</A></TD>
                    </TR>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 
                        name=index5_r17_c3 alt="" src="/skin/hx008/index5_r17_c3.jpg" width=7 height=7></TD>
                      <TD><A href="#">二级分类</A></TD>
                    </TR>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 name=index5_r17_c3 alt="" src="/skin/hx008/index5_r17_c3.jpg" width=7 
                        height=7></TD>
                      <TD><A  href="#">二级分类3</A></TD>
                    </TR>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 
                        name=index5_r17_c3 alt="" 
                        src="/skin/hx008/index5_r17_c3.jpg" width=7 
                        height=7></TD>
                      <TD><A href="#">二级分类4</A></TD>
                    </TR>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 name=index5_r17_c3 alt="" src="/skin/hx008/index5_r17_c3.jpg" width=7 height=7></TD>
                      <TD><A 
                        href="#">二级分类5</A></TD>
                    </TR>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 name=index5_r17_c3 alt="" 
                        src="/skin/hx008/index5_r17_c3.jpg" width=7 
                        height=7></TD>
                      <TD><A href="#">二级分类</A></TD>
                    </TR></TBODY></TABLE></TD></TR>
              <TR>
                <TD colSpan=3><IMG id=index5_r8_c4 border=0 name=index5_r8_c4 
                  src="/skin/hx008/line.jpg" width="100%" height=8></TD></TR>
              <TR>
                <TD>
                  <TABLE border=0 cellSpacing=1 cellPadding=0 bgColor=#efefef>
                    <TBODY>
                    <TR>
                      <TD bgColor=#ffffff><IMG id=index5_r28_c4 border=0 
                        name=index5_r28_c4 alt="" 
                        src="/skin/hx008/index5_r4_c4.jpg" width=11 
                        height=11></TD></TR></TBODY></TABLE></TD>
                <TD style="CURSOR: hand" 
                  onclick="javascript:Deal('menu170')">一级分类</TD>
                <TD><IMG id=index5_r12_c15 border=0 name=index5_r12_c15 alt="" 
                  src="/skin/hx008/index5_r12_c15.jpg" width=9 
                height=9></TD></TR>
              <TR style="DISPLAY: none" id=menu170>
                <TD colSpan=3>
                  <TABLE width="100%">
                    <TBODY>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 
                        name=index5_r17_c3 alt="" 
                        src="/skin/hx008/index5_r17_c3.jpg" width=7 
                        height=7></TD>
                      <TD><A 
                        href="#">二级分类</A></TD>
                    </TR>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 
                        name=index5_r17_c3 alt="" 
                        src="/skin/hx008/index5_r17_c3.jpg" width=7 
                        height=7></TD>
                      <TD><A 
                        href="#">二级分类</A></TD>
                    </TR>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 
                        name=index5_r17_c3 alt="" 
                        src="/skin/hx008/index5_r17_c3.jpg" width=7 
                        height=7></TD>
                      <TD><A 
                        href="#">二级分类</A></TD>
                    </TR></TBODY></TABLE></TD></TR>
              <TR>
                <TD colSpan=3><IMG id=index5_r8_c4 border=0 name=index5_r8_c4 
                  src="/skin/hx008/line.jpg" width="100%" height=8></TD></TR>
              <TR>
                <TD>
                  <TABLE border=0 cellSpacing=1 cellPadding=0 bgColor=#efefef>
                    <TBODY>
                    <TR>
                      <TD bgColor=#ffffff><IMG id=index5_r28_c4 border=0 name=index5_r28_c4 alt="" src="/skin/hx008/index5_r4_c4.jpg" width=11 
                        height=11></TD></TR></TBODY></TABLE></TD>
                <TD style="CURSOR: hand" 
                  onclick="javascript:Deal('menu229')">一级分类</TD>
                <TD><IMG id=index5_r12_c15 border=0 name=index5_r12_c15 alt="" 
                  src="/skin/hx008/index5_r12_c15.jpg" width=9 
                height=9></TD></TR>
              <TR style="DISPLAY: none" id=menu229>
                <TD colSpan=3>
                  <TABLE width="100%">
                    <TBODY>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 name=index5_r17_c3 alt="" 
                        src="/skin/hx008/index5_r17_c3.jpg" width=7 height=7></TD>
                      <TD><A 
                        href="#">二级分类</A></TD>
                    </TR>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 name=index5_r17_c3 alt="" 
                        src="/skin/hx008/index5_r17_c3.jpg" width=7 
                        height=7></TD>
                      <TD><A 
                        href="#">二级分类</A></TD>
                    </TR>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 name=index5_r17_c3 alt="" 
                        src="/skin/hx008/index5_r17_c3.jpg" width=7 height=7></TD>
                      <TD><A 
                        href="#">二级分类</A></TD>
                    </TR>
                    <TR>
                      <TD width=40 align=middle><IMG id=index5_r17_c3 border=0 
                        name=index5_r17_c3 alt="" 
                        src="/skin/hx008/index5_r17_c3.jpg" width=7  height=7></TD>
                      <TD><A 
                        href="#">二级分类</A></TD>
                    </TR></TBODY></TABLE></TD></TR>
              <TR>
                <TD colSpan=3><IMG id=index5_r8_c4 border=0 name=index5_r8_c4 src="/skin/hx008/line.jpg" width="100%" 
              height=8></TD></TR></TBODY></TABLE></TD></TR>
</TBODY></TABLE>
      <SCRIPT language=JavaScript>
var str = "";
function Deal(id)
{
	//document.all.tags('menu').style.display = "none";
	//alert(document.all.tags('menu'));
	if(document.all[id].style.display == "none")
	{
		document.all[id].style.display = "";
	}
	else
	{
		document.all[id].style.display = "none";
	}
}

</SCRIPT> </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td width="5">&nbsp;</td>
    <td width="725" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="bgliter">
      <tr>
        <td width="100%" class="lite">{ZL.Label id="当前栏目名"/}列表</td>
        </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>{ZL.Label id="栏目信息分页列表"/}</td>
      </tr>
    </table>    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" style="color: #FFFFFF;background-color:#006DB2;" height="28px">关于我们&nbsp;|&nbsp;联系我们 |&nbsp;版权申明&nbsp;|&nbsp;服务支持</td>
  </tr>
  <tr>
    <td align="center">{$Copyright/}</td>
  </tr>
</table>




</body>
</html>
