<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="WebDAL" value="SQLDAL" />
  <add key="Version" value="X3.620161008" />
  <add key="Installed" value="true" />
  <add key="ShowedAD" value="true" />
  <add key="DBType" value="mssql" />
  <add key="DZSource" value="false" />
  <add key="DZCatalog" value="discuz" />
  <add key="DZUser" value="root" />
  <add key="DZPassword" value="root" />
  <add key="DZPort" value="3306" />
  <add key="SYSCloseSite" value="0" />
  <add key="IPServices.IpAddressSearchWebService" value="http://www.webxml.com.cn/WebServices/IpAddressSearchWebService.asmx" />
  <add key="SMSMessage1.SDKService" value="http://sdk229ws.eucp.b2m.cn:8080/sdk/SDKService" />
</appSettings>