<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web" />
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings configSource="Config\AppSettings.config" />
  <RewriterConfig configSource="Config\URLRewrite.config" />
  <connectionStrings configSource="Config\ConnectionStrings.config" />
  <log4net configSource="Config\log.config" />
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false" />
  </system.net>
  <system.web>
    <globalization configSource="Config\globalization.config" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <!--<identity impersonate="true" userName="administrator" password="password" />-->
    <!--<httpHandlers><add verb="*" path="*.flv" type="ZoomLa.NoLink" /></httpHandlers>-->
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="~/Prompt/GenericError.html">
      <error statusCode="401" redirect="~/Prompt/NoAccess.html" />
      <error statusCode="403" redirect="~/Prompt/NoAccess.html" />
      <error statusCode="404" redirect="~/Prompt/FileNotFound.html" />
      <error statusCode="405" redirect="~/Prompt/NoAccess.html" />
      <error statusCode="406" redirect="~/Prompt/NoAccess.html" />
      <error statusCode="412" redirect="~/Prompt/NoAccess.html" />
      <error statusCode="500" redirect="~/Prompt/NoAccess.html" />
      <error statusCode="501" redirect="~/Prompt/NoAccess.html" />
      <error statusCode="502" redirect="~/Prompt/NoAccess.html" />
    </customErrors>
    <!--添加、移除或清除应用程序中的 HTTP 模块。-->
    <httpModules>
      <add name="IPModule" type="ZoomLa.Web.HttpModule.IPHttpModule, ZoomLa.Web" />
    </httpModules>
    <!--<httpRuntime maxRequestLength="2097151" executionTimeout="3600" useFullyQualifiedRedirectUrl="true"/>-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="512000" appRequestQueueLimit="1000" useFullyQualifiedRedirectUrl="true" executionTimeout="3600" />
    <pages configSource="Config\Pages.config" />
  </system.web>
  <system.webServer>
    <!--win10及IIS9以上版本删除begin-->
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="font/x-font-woff" />
    </staticContent>
    <!--win10及IIS9以上版本删除end-->
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="StrConvHttpModule" type="ZoomLa.HttpModules.StrConvHttpModule, StrConvHttpModule"/>-->
      <add name="IPModule" type="ZoomLa.Web.HttpModule.IPHttpModule, ZoomLa.Web" />
    </modules>
    <handlers>
      <add name="UrlHandles" path="*.aspx" verb="*" type="URLRewriter.RewriterFactoryHandler,URLRewriter" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>