<ion-view>
<ion-header-bar class="bar-balanced bar bar-header visible-xs" align-title="center">
<a href="#/tab/index" class="button icon ion-navicon" nav-direction="back"></a>
<div class="title title-center header-item">我的回答</div>
</ion-header-bar>
<ion-content>
<div class="design_askbanner hidden-xs"><span>我的回答</span></div>
<div class="container padding0-xs lgmargin_top10">

<ion-list can-swipe="true">
<ion-item ng-repeat="item in list">
<h2><span ng-bind="item.Title"></span></h2>
<span class="item-note"  ng-bind="item.CDate| date:'yyyy-MM-dd HH:mm'"></span>
</ion-item>
</ion-list>
</div>
</ion-content>
</ion-view>
<style>
.item-note { float:none;}
</style>