<?xml version="1.0" standalone="yes"?>
<AcitionList>
  <AcitionList>
    <ID>27</ID>
    <AcitionFileName>/Action/ActionXml/20100917145556283103.xml</AcitionFileName>
    <ComState>1</ComState>
    <AutoAction>0</AutoAction>
    <BegionTime>2010-10-11 0:00:00</BegionTime>
    <EndTime>2010-9-18 0:00:00</EndTime>
    <isStarSec>0</isStarSec>
    <NodeID>2</NodeID>
    <FirstNodeID>2</FirstNodeID>
    <isbest>0</isbest>
    <sales>1</sales>
  </AcitionList>
</AcitionList>