<?xml version="1.0" standalone="yes"?>
<DocumentElement>
  <Table>
    <Source>content</Source>
    <SourceAlias>热点资讯</SourceAlias>
    <NodeID>25</NodeID>
    <T_CateID>2</T_CateID>
    <T_CateName>要闻</T_CateName>
  </Table>
   <Table>
    <Source>content</Source>
    <SourceAlias>资讯中心</SourceAlias>
    <NodeID>100</NodeID>
    <T_CateID>6</T_CateID>
    <T_CateName>远教</T_CateName>
  </Table>
  <Table>
    <Source>ask</Source>
    <SourceAlias>问答</SourceAlias>
    <NodeID>0</NodeID>
    <T_CateID>22</T_CateID>
    <T_CateName>婚姻</T_CateName>
  </Table>
</DocumentElement>