<?xml version="1.0"?>
<PlatAPI>
  <SinaKey></SinaKey>
  <SinaSecret></SinaSecret>
  <SinaCallBack>http://www.1th.cn/Plat/Common/GetViBoToken.aspx?s=sina</SinaCallBack>
  <QQKey></QQKey>
  <QQCallBack>http://www.1th.cn/Plat/Test/APPBack.aspx</QQCallBack>
  <!--<QQCallBack>http://www.1th.cn/Plat/Common/GetViBoToken.aspx?s=qq</QQCallBack>-->
</PlatAPI>
