<?xml version="1.0"?>
<Site>
  <EnableSA>true</EnableSA>
  <SAName>845F889824AD7E58222A8D8C8BFE703F</SAName>
  <SAPassWord>BE037032F3ECFC18D6748EAA95298B1D928217AC8AA078A0ABC8A50849A205F0</SAPassWord>
  <CodeSourceUrl>http://update.z01.com/Zoomla!CMScode.zip</CodeSourceUrl>
  <ZipSavePath>\逐浪CMS源码存放处\</ZipSavePath>
  <SetupPath>/</SetupPath>
  <BackupUrl>http://update.z01.com/Zoomla!CMScode.zip</BackupUrl>
  <ZipName>sfsfsfsf</ZipName>
  <SitePath>D:\Web\Site\</SitePath>
  <TDomName>.1th.cn</TDomName>
  <DnsOutputPath>D:\DNSDirectory\</DnsOutputPath>
  <newNetClientID>agent37606</newNetClientID>
  <newNetApiPasswd>123123</newNetApiPasswd>
  <DefaultCheck>.com,.net,.cn,.com.cn,.net.cn,.org.cn,.org,.asia,.cc,.biz,.info,.tv,.tw,.in,.me,.中国,.pw,.公司,.网络,</DefaultCheck>
  <DefaultDisplay>,</DefaultDisplay>
  <DnsOption />
  <ModelID>6</ModelID>
  <NodeID>198</NodeID>
  <DefaultIP>http://localhost:86/</DefaultIP>
  <DNSTemplate>
    ;
    ;  Database file {dom/}.zone for {dom/} zone.
    ;      Zone version:  2311007550
    ;

    @                       IN  SOA {dns/}.  admin.{dns/}. (
    2311007550   ; serial number
    900          ; refresh
    600          ; retry
    86400        ; expire
    3600       ) ; default TTL

    ;
    ;  Zone NS records
    ;

    @                       NS	{dns/}.
    {dns/}.         A	{domIP/}

    ;
    ;  Zone records
    ;

    @                       A	{domIP/}
    @                       MX	0	{maildom/}
    @                       MX	10	{maildom/}
    ftp                     A	{domIP/}
    mail                    A	{domIP/}
    pop                     CNAME	{maildom/}
    www                     CNAME	007.uip-china.com.
  </DNSTemplate>
  <AutoCreateDB>true</AutoCreateDB>
  <DBManagerName>sa</DBManagerName>
  <DBManagerPasswd>sa</DBManagerPasswd>
  <RemoteUser>false</RemoteUser>
  <RemoteEnable>false</RemoteEnable>
  <RemoteUrl>http:///</RemoteUrl>
  <Token>zoomlacms</Token>
</Site>