<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>专题列表_{$SiteName/}</title> 
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<link href="{$CssDir/}fix.css" rel="stylesheet" type="text/css" />
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script> 
</head>
<body id="header" >
<div id="home_all"> 
{ZL.Label id="蓝色头部"/} 
<div id="topbanner"><img src="{$CssDir/}Images/bannertop2.jpg" /></div><!-- 通栏广告位 -->
<div id="mysite">
<ul class="breadcrumb">
<li><a href="/">首页</a></li>
<li class="active">专题</li>
</ul>
</div>

<!--主体开始 -->
<div id="main">  
{ZL.Label id="专题分类"/}
</div>
<!--频道首页主体结束 -->

<div style="clear:both;"></div>
{ZL.Label id="蓝色底部"/}<div class="clear"></div>
</div>
<SCRIPT src="/js/openType.js" type=text/javascript></SCRIPT> 
</body>
</html>