<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <appSettings configSource="Config\AppSettings.config" />
  <connectionStrings configSource="Config\ConnectionStrings.config">
  </connectionStrings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <!--
        如果在执行请求的过程中出现未处理的错误，则通过 <customErrors> 节可以配置相应的处理步骤。
        具体说来，开发人员通过该节可以配置要显示的 html 错误页以代替错误堆栈跟踪。
		-->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Prompt/GenericError.htm">
      <error statusCode="403" redirect="~/Prompt/NoAccess.htm"/>
      <error statusCode="404" redirect="~/Prompt/FileNotFound.htm"/>
      <error statusCode="500" redirect="~/Prompt/GenericError.htm"/>
    </customErrors>
    
  </system.web>
</configuration>
