@using System.Data
@using ZoomLa.BLL.Helper
@model ZoomLa.SQLDAL.SQL.PageSetting
@{
    DataTable dt = new DataTable();    
    Layout = "~/Areas/User/Views/Shared/_layout.cshtml";
}
@section head{<title>收件箱</title>}
@section content{
    <form action="@MVCHelper.GetAction(Url.Action("Message","Message"),Request)" method="post">
    <div id="pageflag" data-nav="index" data-ban="pub"></div>
    <div class="container">
        <ol class="breadcrumb">
            <li><a title="会员中心" href="@Url.Action("","Index")">会员中心</a></li>
            <li><a href="Message">消息中心</a></li>
            <li class="active">收件箱</li>
        </ol>
    </div>
    <div class="container">
        @Html.Partial("MessageTop")
    </div>
        <div id="EGV" class="container margin_t5 btn_green">
            <div class="input-group" style="width: 350px;margin-bottom:5px;">
                <input type="text" id="skey_t" class="form-control text_300" placeholder="请输入邮件名称" />
                <span class="input-group-btn">
                    <input type="button" id="skey_btn" class="btn btn-primary mvcparam" value="搜索" onclick="mvcpage.load();" />
                </span>
            </div>
            @Html.Partial("Message_List", Model)
            </div>
</form>
    
}
@section script{}
