<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>404-您检索的页面不存在或可能存在问题</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link type="text/css" rel="stylesheet" href="/App_Themes/Guest.css" />  
</head>
<body>
<div class="Search_top"><div class="Search_top_overlay"></div></div>
<div class="Search_header">
<div class="container ">
<p class="pull-right">
<a href="/search/default.aspx"><i class="fa fa-search"></i></a>
<a href="">注册会员</a>
<a href="/user/">用户登录</a>
<a href="/help.html">使用帮助</a>
</p>
<h1 class="search_logo"><a href="/"><img src="{$LogoUrl/}" alt="{$SiteName/}" class="img-responsive" /></a></h1>
</div>
</div>

<div class="Search_headerIndex">
<div class="error404">
<h2><i class="fa fa-question-circle"></i> 404错误页</h2>
</div>
</div>


<style>
</style>

<div class="container Search_elit">
<ul>
<li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<div class="Search_elitprj">
<a href="/baike" target="_blank"><i class="fa fa-university"></i></a>
<a href="/baike" target="_blank">百科中心</a>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<div class="Search_elitprj">
<a href="/guest/" target="_blank"><i class="fa fa-volume-up"></i></a>
<a href="/guest/" target="_blank">留言中心</a>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<div class="Search_elitprj">
<a href="/ask" target="_blank"><i class="fa fa-puzzle-piece"></i></a>
<a href="/ask" target="_blank">问答中心</a>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<div class="Search_elitprj">
<a href="/index" target="_blank"><i class="fa fa-ship"></i></a>
<a href="/index" target="_blank">论坛</a>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<div class="Search_elitprj">
<a href="/dai/" target="_blank"><i class="fa fa-thumbs-up"></i></a>
<a href="/dai/" target="_blank">在线试戴</a>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<div class="Search_elitprj">
<a href="/office" target="_blank"><i class="fa  fa-beer"></i></a>
<a href="/office" target="_blank">OA办公</a>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<div class="Search_elitprj">
<a href="/plat" target="_blank"><i class="fa  fa-modx"></i></a>
<a href="/plat" target="_blank">能力中心</a>
</div>
</li>
<li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
<div class="Search_elitprj">
<a href="/Class_2/Default.aspx" target="_blank"><i class="fa fa-shopping-bag"></i></a>
<a href="/Class_2/Default.aspx" target="_blank">线上商城</a>
</div>
</li>
</ul>
</div>


</body>
</html>
