<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{ZL.Label id="当前文章模型标题"/}</title>
<meta name="Keywords" content="{$MetaKeywords/}">
<meta name="Description" content="{$MetaDescription/}">
<link href="/css/style.css" type="text/css" rel="stylesheet" />
<SCRIPT language=javascript src="/css/ajax.js"></SCRIPT>
</head>
<body>
       <div id="top">
       <div id="logo"><a href="/"><img src="/skin/default/logo.jpg" title="网站首页" /></a></div>
        <div id="ilogo"><img src="/skin/default/ilogo.jpg" /></div>
        <div id="top2">
          <!--文字背景-->
          <div id="top_1">
            <!--文字-->
            <div class="top_w"> <a href="#">客服中心</a> <a href="#">商业订制</a> <a href="#">模板开发</a> <a href="#">主机域名</a></div>
            <!--文字结束-->
          </div>
          <!--文字背景END-->
          <div id="top_2">
            <div class="top_p"><a href="#">购买</a>| <a href="/ColumnList.aspx?NodeID=21">演示</a>| <a href="#">博客</a>| <a href="#">开发者俱乐部</a></div>
          </div>
        </div>
        
      </div>

         <div style="clear:both"></div>
         <!--顶部导航开始 -->
        <div id="topmenu">
          <div id="topmenu_left"></div>
          <div id="topmenu_gg"><!--公告区：--></div>
          <div id="topmenu_mid">
          <div style="float:left;width:500px; margin-top:5px; ">
          <iframe src="../Search/indexSearch.aspx" marginwidth="1" marginheight="1" scrolling="no" border="0" frameborder="0" width="500px" height="28px"></iframe>
           <div style="margin-top:2px;float:left;width:500px; height:16px; line-height:16px; color:#FFFFFF">
           <img src="../../skin/default/btn_best_key.gif" />&nbsp;模板&nbsp;节点&nbsp;模型&nbsp;智能替换&nbsp;采集
           </div>
          </div>
          <div style="width:200px; margin-left:520px;">
          <a href="#" target="_blank"><img src="../../skin/default/top_ask.gif" /></a>
          </div>
          <div id="top_6">
    <div id="nav">
      <ul>
        <li id="nav_l"><a id="aa"  class="aa" href="/">网站首页</a></li>
        <li><a id="bb1" class="bb1" href="/ColumnList.aspx?NodeID=9">走进逐浪</a></li>
        <li><a id="bb2" class="bb2" href="/ColumnList.aspx?NodeID=1">产品中心</a></li>
        <li><a id="bb3" class="bb3" href="/ColumnList.aspx?NodeID=10">成功案例</a></li>
        <li><a id="bb4" class="bb4" href="/ColumnList.aspx?NodeID=11">模板中心</a></li>
        <li><a id="bb5" class="bb5" href="/ColumnList.aspx?NodeID=12">帮助中心</a></li>
        <li><a id="bb6" class="bb6" href="http://bbs.zoomla.cn" target="_blank">技术社区</a></li>
      </ul>
      </div>

          </div>
          </div>
          <div id="topmenu_right"><img src="/skin/default/h.jpg" /></div>
		</div>
        <!--顶部导航结束 -->

      <!--主体开始-->
      <!--主体开始-->
             <div style="clear:both"></div>

      <div id="mainpage">
      <!--公告开始-->
      <div id="message">{ZL.Label id="当前信息所在节点_用于信息展示页的位置导航"/}</div>
      <div id="mainpage_left">
          <div id="mainpage_leftlogin">会员登陆</div>
          <div id="mainpageleftuser"><iframe src="../Login.aspx" frameborder="0" width="195px"></iframe></div>
          <div class="mainpage_lefprojectbottom"></div>
     <div class="mainpage_leftitle">官方动态</div>
     <ul>
{ZL.Label id="首页_官方动态"/}
     </ul>
      <div class="mainpage_leftad"><a href="http://www.hx008.cn" target="_blank"><img src="/skin/default/1_34.jpg" title="逐浪推荐使用华夏互联优质主机" /></a></div>
      <div class="mainpage_leftitle">闪亮功能推荐</div>
      <div style="width:200px; height:145px; background-image:url(/skin/default/1_43.jpg);">
            <div id="tj" class="zw"> <a href="#">无节点模型</a><br>
              <a href="#">专为大型门户设计</a><br>
              <a href="#">超级扩展ZML语言</a><br>
              <a href="#">全面支持W3C标准</a></div>
          </div>
           <!--解决方案 begin-->
           <div class="mainpage_lefprojecttitle">解决方案</div>
          <div id="mainpageleftproject">
          <ul>
               <li><a href="#">面向政府>></a></li>
               <li><a href="#">面向企业>></a></li>
               <li><a href="#">面向学校>></a></li>
               <li><a href="#">面向个人>></a></li>
          </ul>
          </div>
          <div class="mainpage_lefprojectbottom"></div>
          <!--解决方案 end-->
          <!--产品订购 begin-->
          <div class="mainpage_leftad"><a href="#"><img src="/skin/default/1_55.jpg" /></a></div>
          <div id="mainpageleftbuy">
            <div id="tj2" class="zw">
            <ul>
             <li><a href="#">了解产品需求</a></li>
             <li><a href="#">确定项目方案</a></li>
             <li><a href="#">订购实施开发</a></li>
             <li><a href="#">改版升级服务</a></li>
            </ul>
           </div>
          </div>
          <!--产品订购 end-->
          <!--网站学院 begin-->
          <div class="mainpage_leftstudy" >
          <div id="tj3" class="zw">
          <ul>
            <li><a href="#">学好W3C标准条件</a></li>
            <li><a href="#">如何理解DHTML</a></li>
          </ul>
		</div>
          </div>
          <!--网站学院 end-->
      </div>
      
      <div id="article_right">
<h1>{ZL.Label id="当前文章模型标题"/}</h1>
<div class="artInfo">发布时间：{ZL.Label id="当前信息发布时间_通用"/}&nbsp;&nbsp;来源：{ZL.Label id="信息来源_下载中心通用"/}&nbsp;&nbsp;{ZL.Label id="通用当前文章上一篇"/}</div>
<div id="test">
{ZL.Label id="下载中心通用_内容介绍"/}
{ZL.Label id="下载地址_下载模型通用"/}

</div>
<div id="Comment"><img src="/skin/default/Comment.gif" />本文责任编辑：{ZL.Label id="责任编辑_下载中心通用"/} &nbsp;点此参与评论>></div>
<div class="artInfo">{ZL.Label id="点击复制网址代码"/}</div>
      </div>
<!--中部主体结束-->
      <div style="clear:both"></div>

      <!--友情链接开始-->
      <div id="frindsize">
      <div class="frindsize_title"><img src="/skin/default/friendsize.jpg" /></div>
      <div class="frindsize_title">
      <ul>
{ZL.Label id="首页友情链接"/}
      <li><a href="#"><img src="/skin/default/nologo.gif" /></a></li>
      <li><a href="#"><img src="/skin/default/nologo.gif" /></a></li>
      <li><a href="#"><img src="/skin/default/nologo.gif" /></a></li>
      <li><a href="#"><img src="/skin/default/nologo.gif" /></a></li>
      <li><a href="#"><img src="/skin/default/nologo.gif" /></a></li>
      <li><a href="#"><img src="/skin/default/nologo.gif" /></a></li>
      <li><a href="#"><img src="/skin/default/nologo.gif" /></a></li>
      <li><a href="#"><img src="/skin/default/nologo.gif" /></a></li>
      </ul>      
      </div>
      </div>
      <!--友情链接结束 -->
      
      <div id="bottom"> 媒体报道 | 关于我们 | 资讯证件 | 合同文档 | <a href="/Content.aspx?ItemID=112">汇款方式</a> | <a href="/Content.aspx?ItemID=109">联系我们</a> | 工作机会 | <a hreft="http://www.hx008.cn/magazine/" target="_blank">电子会刊</a> | 版权申明 | 慈善公益 |  <a href="/manage/login.aspx" target="_blank">后台管理</a></div>
      <div id="foot">
      <div id="foot_logo"><img src="/skin/default/foot_logo.jpg" /></div>
{$Copyright/} 
<div class="right"><img src="/skin/default/contact.jpg"></div>
</div>
</div>

</body>
</html>