<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$SiteName/}>>{ZL.Label id="当前栏目名"/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='/Skin/DefaultSkin.css' rel='stylesheet' type='text/css'>
<meta http-equiv="refresh" content="30;url=/NodePage.aspx?NodeID=9">
</head>
<body>

<!--主体开始-->
<div class="mainbox">
<div style="height:300px; line-height:20px; text-align:center; margin-top:100px; color: #FFFF00;font-weight: bold; font-size:14px;">
<a href="/"><img src="/skin/default/logo_w.png" /></a><br /><br /><br />
欢迎使用逐浪软件，我们致力打造世界最好的中文网站内核系统<a href="/NodePage.aspx?NodeID=9">[进入+]</a>...
</div>
<div style="clear:both"></div>

<!--右侧开始-->
<!--右侧结束-->
<div class="rightfont">版权所有:&copy;2008逐浪软件zoomla.cn  空间供应商：<a href="http://www.hx008.cn" target="_blank">华夏互联hx008.cn</a><br />
联系我们&nbsp;&nbsp;|&nbsp;&nbsp;公司证件&nbsp;&nbsp;|&nbsp;&nbsp;汇款方式&nbsp;&nbsp;|&nbsp;&nbsp;使用条款&nbsp;&nbsp;| 商标&nbsp;&nbsp;|&nbsp;&nbsp;隐私声明</div>
</div>
<!--主体结束-->

</body>
</html>