<?xml version="1.0"?>
<SiteConfig>
  <FrontTemplateList />
  <IPLockConfig>
    <AdminLockIPBlack />
    <AdminLockIPType>0</AdminLockIPType>
    <AdminLockIPWhite />
    <LockIPBlack />
    <LockIPType>0</LockIPType>
    <LockIPWhite />
  </IPLockConfig>
  <MailConfig>
    <AuthenticationType>Basic</AuthenticationType>
    <EnabledSsl>false</EnabledSsl>
    <MailFrom>web@zoomla.cn</MailFrom>
    <MailServer>smtp.zoomla.cn</MailServer>
    <MailServerPassWord>password</MailServerPassWord>
    <MailServerUserName>UserName</MailServerUserName>
    <Port>25</Port>
  </MailConfig>
  <ShopConfig>
    <EnableCoupon>false</EnableCoupon>
    <EnableGuestBuy>false</EnableGuestBuy>
    <EnablePartPay>false</EnablePartPay>
    <MoneyPresentPoint>1</MoneyPresentPoint>
    <TaxRate>0</TaxRate>
    <TaxRateType>0</TaxRateType>
  </ShopConfig>
  <SiteInfo>
    <BannerUrl>Skin/Default/images/banner.jpg</BannerUrl>
    <Copyright>版权信息</Copyright>
    <LogoUrl>Skin/Default/images/logo.gif</LogoUrl>
    <MetaDescription>META网页描述</MetaDescription>
    <MetaKeywords>META关键字</MetaKeywords>
    <SiteName>逐浪CMS</SiteName>
    <SiteTitle>逐浪CMS</SiteTitle>
    <SiteUrl>http://localhost:82</SiteUrl>
    <VirtualPath>/</VirtualPath>
    <Webmaster>站长</Webmaster>
    <WebmasterEmail>web@zoomla.cn</WebmasterEmail>
  </SiteInfo>
  <SiteOption>
    <AdvertisementDir>IAA</AdvertisementDir>
    <EnableSiteManageCode>true</EnableSiteManageCode>
    <EnableSoftKey>true</EnableSoftKey>
    <EnableUploadFiles>true</EnableUploadFiles>
    <IsAbsoluatePath>false</IsAbsoluatePath>
    <ManageDir>Manage</ManageDir>
    <SiteManageCode>8888</SiteManageCode>
    <TemplateDir>/Template/默认方案</TemplateDir>
    <IndexTemplate>/index.html</IndexTemplate>
    <CssDir>/Skin</CssDir>
    <UploadDir>/UploadFiles</UploadDir>
    <UploadFileExts>gif|jpg|jpeg|jpe|bmp|png|rar</UploadFileExts>
    <UploadFileMaxSize>1024</UploadFileMaxSize>
    <UploadFilePathRule>{$UserGroupID}/{$Year-$Month}</UploadFilePathRule>
  </SiteOption>
  <ThumbsConfig>
    <AddBackColor>#EE1169</AddBackColor>
    <ThumbsHeight>130</ThumbsHeight>
    <ThumbsMode>1</ThumbsMode>
    <ThumbsWidth>99</ThumbsWidth>
  </ThumbsConfig>
  <UserConfig>
    <AdminCheckReg>false</AdminCheckReg>
    <EmailCheckReg>false</EmailCheckReg>
    <EmailOfRegCheck>欢迎您注册成为本站会员！&lt;br&gt;
验证码：{$CheckNum}
请点击下面的地址，输入上面的验证码进行邮件验证。验证通过后，您就可以正式成为我们的会员，享受有关服务了！&lt;br&gt;
&lt;a href='{$CheckUrl}' target='_blank'&gt;{$CheckUrl}&lt;/a&gt;</EmailOfRegCheck>
    <EnableCheckCodeOfLogin>false</EnableCheckCodeOfLogin>
    <EnableCheckCodeOfReg>false</EnableCheckCodeOfReg>
    <EnableMultiLogin>true</EnableMultiLogin>
    <EnableMultiRegPerEmail>false</EnableMultiRegPerEmail>
    <EnableQAofReg>false</EnableQAofReg>
    <EnableRegCompany>false</EnableRegCompany>
    <EnableUserReg>true</EnableUserReg>
    <GroupId>0</GroupId>
    <MoneyExchangePointByMoney>0</MoneyExchangePointByMoney>
    <MoneyExchangePointByPoint>0</MoneyExchangePointByPoint>
    <MoneyExchangeValidDayByMoney>0</MoneyExchangeValidDayByMoney>
    <MoneyExchangeValidDayByValidDay>0</MoneyExchangeValidDayByValidDay>
    <PresentExp>0</PresentExp>
    <PresentExpPerLogin>0</PresentExpPerLogin>
    <PresentMoney>0</PresentMoney>
    <PresentPoint>0</PresentPoint>
    <PresentValidNum>0</PresentValidNum>
    <PresentValidUnit>0</PresentValidUnit>
    <UserExpExchangePointByExp>0</UserExpExchangePointByExp>
    <UserExpExchangePointByPoint>0</UserExpExchangePointByPoint>
    <UserExpExchangeValidDayByExp>0</UserExpExchangeValidDayByExp>
    <UserExpExchangeValidDayByValidDay>0</UserExpExchangeValidDayByValidDay>
    <UserGetPasswordType>1</UserGetPasswordType>
    <UserNameLimit>4</UserNameLimit>
    <UserNameMax>20</UserNameMax>
    <UserNameRegDisabled>admin|administrator|system|operator|support|root|postmaster|webmaster|security</UserNameRegDisabled>
  </UserConfig>
  <WaterMarkConfig>
    <WaterMarkImageInfo>
      <ImagePath>skin/default/images/logo.gif</ImagePath>
      <WaterMarkPosition>WM_TOP_LEFT</WaterMarkPosition>
      <WaterMarkPositionX>0</WaterMarkPositionX>
      <WaterMarkPositionY>0</WaterMarkPositionY>
    </WaterMarkImageInfo>
    <WaterMarkTextInfo>
      <FoneBorder>1</FoneBorder>
      <FoneBorderColor>#000000</FoneBorderColor>
      <FoneColor>#1A1AE6</FoneColor>
      <FoneSize>12</FoneSize>
      <FoneStyle>Bold</FoneStyle>
      <FoneType>宋体</FoneType>
      <Text>逐浪CMS</Text>
      <WaterMarkPosition>WM_TOP_LEFT</WaterMarkPosition>
      <WaterMarkPositionX>0</WaterMarkPositionX>
      <WaterMarkPositionY>0</WaterMarkPositionY>
    </WaterMarkTextInfo>
    <WaterMarkType>1</WaterMarkType>
  </WaterMarkConfig>
</SiteConfig>