<ion-view>
    <ion-header-bar class="bar-calm bar bar-header" align-title="center">
        <a class="button icon ion-chevron-left" href="#/tab/ask_qlist/{{model.AskID}}"></a>
        <div class="title title-center header-item" ng-bind="getType(model.QType)"></div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="请输入题目名称" ng-model="model.QTitle">
            </label>

<div ng-switch="showByQType()">
    <div ng-switch-when="radio">
        <div class="row msel_wrap">
            <div class="col left" ng-click="changeQType('radio')" ng-class="model.QType=='radio'?'active':'';">单选题</div>
            <div class="col right" ng-click="changeQType('checkbox')" ng-class="model.QType=='checkbox'?'active':'';">多选题</div>
        </div>
        <label class="item item-input" ng-repeat="item in model.QOption track by $index">
            <input type="text" placeholder="请输入选项名称" ng-model="item.text">
        </label>
        <div style="text-align:center;" class="padding"><button type="button" class="button button-positive button-outline" ng-click="addOption();"><i class="fa fa-plus"></i> 添加新项</button></div>
    </div>
    <div ng-switch-when="blank">
        <label class="item item-input item-select">
            <div class="input-label">
                输入框行数
            </div>
            <select ng-model="model.QFlag.rows" ng-options="m for m in rowArr"></select>
        </label>
    </div>
    <div ng-switch-when="score">
        <label class="item item-input item-select">
            <div class="input-label">请打分</div>
            <select ng-model="model.QFlag.maxscore" ng-options="m for m in maxscoreArr"></select>
        </label>
    </div>
    <div ng-switch-when="sort">
        <label class="item item-input" ng-repeat="item in model.QOption track by $index">
            <input type="text" placeholder="请输入选项名称,为空自动忽略" ng-model="item.text">
        </label>
        <div style="text-align:center;" class="padding"><button type="button" class="button button-positive button-outline" ng-click="addOption();"><i class="fa fa-plus"></i> 添加新项</button></div>
    </div>
    <div ng-switch-default></div>
</div>
            <label class="item item-toggle">
                是否必填
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="model.Required">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>
        </div>
        <button type="button" class="button button-balanced button-block" ng-click="submit();">确认</button>
    </ion-content>
</ion-view>